# 数据库连接
DATABASE_URL="postgresql://user:pass@ep-xxx.aws.neon.tech/datalens?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:pass@ep-xxx.aws.neon.tech/datalens?sslmode=require"

# NextAuth
NEXTAUTH_SECRET="change-me"
NEXTAUTH_URL="https://your-domain.com"

# 腾讯云 COS
TX_SECRET_ID=""
TX_SECRET_KEY=""
TX_COS_BUCKET=""
TX_COS_REGION="ap-guangzhou"